<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.server.dao.PoiMapper">

    <insert id="insertData" parameterType="java.util.List">
        insert into a_poi
                (id, name, password, remark)
        values
        <foreach collection="list" item="item"  separator=",">
            (#{item.id}, #{item.name}, #{item.password}, #{item.remark})
        </foreach>
    </insert>

    <!--调用存储模式-->
    <select id="producer" resultType="com.server.entity.Poi">
        {call finddata(#{offestnum,mode=IN})}
    </select>

</mapper>